<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1> Welcome to AWESOME Gradebook App </h1>

    <%= link_to 'Login to access our AWESOME features', login_path %>

  </div>
</div>
